.MuiInputBase-root {
  background-color: $background-color-light !important;

  width: 312px !important;
  height: 37px !important;

  .MuiSvgIcon-root {
    color: $color-accent !important;
  }

  .MuiInputBase-input {
    color: $color-primary !important;

    ::placeholder {
      font-family: $font-poppins !important;
      font-weight: 300 !important;
      font-size: 14px !important;
      line-height: 1.5em !important;
      color: $color-primary !important;
    }
  }
}
